@import "tailwindcss";

@theme {
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Lato", sans-serif;
  --font-mono: "Fira Code", monospace;

  --color-mystic-bg: #1b1e34;
  --color-mystic-dark: #2d3250;
  --color-mystic-surface: #424769;
  --color-mystic-mid: #7077a1;
  --color-mystic-soft: #9aa0c2;
  --color-mystic-accent: #f6b17a;
  --color-mystic-accent-hover: #e88d4a;
  --color-mystic-accent-light: #ffd9b3;
  --color-mystic-text-primary: #f7f7fa;
  --color-mystic-text-secondary: #e1e1ec;
}

html,
body {
  @apply bg-gray-900 text-mystic-text-primary;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
