---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="transition-opacity duration-500 max-w-2xl w-full">
    <h2 class="text-2xl md:text-3xl mb-3 tracking-wide">Hi There...!!</h2>
    <div class="space-y-4">
      <p class="text-gray-300 leading-relaxed">
        I'm Adib Firman, I'm software engineer from 🇮🇩 (Indonesia) day-by-day
        working and learn a fun things about Web Ecosystem, and occasionally
        planting seed on my own digital garden.
      </p>
    </div>
  </div>
</Layout>
