---
import DesktopNavigation from "./DesktopNavigation.astro";
import { WrapperMobileNavigation } from "./MobileNavigation";

const activePathname = Astro.url.pathname;
---

<Fragment>
  <WrapperMobileNavigation pathname={activePathname} client:only />

  <header class="text-center mb-12 md:mb-16">
    <h1 class="text-4xl md:text-6xl mb-4 tracking-wider">Adib Firman</h1>
    <p class="text-lg md:text-xl text-gray-300 max-w-md mx-auto">
      Software Engineer, Web Platform
    </p>
  </header>

  <DesktopNavigation />
</Fragment>
