---
import "@/styles/global.css";
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Hi There...!!! - @adibfirman</title>
  </head>
  <body>
    <main
      class="min-h-screen bg-black text-white font-chalk relative overflow-hidden"
    >
      {/* Spotlight effect */}
      <div
        class="absolute top-0 left-1/2 -translate-x-1/2 w-[150%] h-[150%] bg-radial-gradient opacity-20 pointer-events-none"
      >
      </div>

      <div
        class="container mx-auto px-4 py-16 md:py-24 flex flex-col min-h-screen"
      >
        <Header />
        <div class="flex-1 flex items-start justify-center">
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
